# VS Code 配置文件
.vscode/
1.bat
2.bat
.obj/
.libs/
build_vars.bat
build_last.bat
# 编译输出
*.o
*.obj
*.so
*.a
tools/tests/build/

# 本机调试/日志产物
hack_stderr.log
hack_stdout.log

__pycache__/
*.pyc

# 系统文件
.DS_Store
Thumbs.db
